.alternative {
  display: flex;
  height: 100px;
  margin: 10px;
  width: 80%;
  min-width: 500px;
  perspective: 1000px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.alternative:hover {
  transform: scale(1.1);
}

.alternativeContent {
  position: relative;
  display: flex;
  flex: 1;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.answerRevealed.alternativeContent {
  transform: rotateY(180deg);
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-size: 1.3rem;
  font-weight: 700;
  margin-right: 20px;
  color: white;
}

.alternativeText {
  font-size: 1.3rem;
  font-weight: 700;
}

.front, .verse {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 12px;
  padding: 15px;
}

.verse {
  transform: rotateY(180deg);
}

.verse > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 12px;
}

.correct {
  background-color: #2BAA6D;

}

.incorrect {
  background-color: #E44A4C;
}

.correct .alternativeText, .incorrect .alternativeText {
  font-size: 1.5rem;
}